
html {
    height: 100%;
}

.wrapper {
    width: 1600px;
    margin: auto;
}

.your-life {
    width: 100%;
    background-image: url("assets/bg-image-wrapper.png");
}

header {
    width: 100%;
    height: 80px;
    text-align: center;
}

.navigation {
    height: 95px;
    width: 100%;
    padding: 0 auto;
}
.navigation ul {
    height: 100%;
    margin: 0px 503px;
    width: 583px;
}
.navigation ul li {
    padding: 37px 0px;
}
.navigation ul li {
    height: 20px;
}
.navigation ul li:nth-child(3) {
    height: auto;
}
#activeItem {
    border-bottom: 1px solid #FFF;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-content: center;
    opacity: 0.8;
    font-size: 14px;
    margin-top: 2px;
}
.navigation ul li:first-child {
    opacity: 1.0;
}
.navigation ul li:nth-child(2) {
    margin-right: 15px;
}
.navigation ul li:nth-child(4) {
    margin-left: 15px;
}
.navigation ul li a {
    color: #FFF;
    text-decoration: none;
}
.navigation ul li:hover {
    opacity: 1.0;
}
#logo {
    width: 44px;
    height: 44px;
}
#logoLi, #logo:hover {
    opacity: 1.0;
}
#logoLi {
    padding: 24px 0px;
}
.intro {
    width: 100%;
}

h1 {
    font-size: 60px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 6.5px;
    line-height: 70px;
}
.mottoDiv {
    width: 100%;
    text-align: center;
    margin-top: 136px;
    height: auto;
}
#slogan {
    margin-top: 136px;
    margin-bottom: 20px;
}
#motto {
    color: #FFF;
    font-size: 18px;
    line-height: 140%;
    margin-top: 25px;
    margin-bottom: 30px;
}
.blueButton {
    color: #FFF;
    background-color: #00AFDB;
    border: none;
    height: 46px;
}
.blueButton:hover {
    background: #009CC2;
    cursor: pointer;
}
#getStartedButton, #getStartedButton2 {
    width: 184px;
    border: none;
}
#contacts {
    display: flex;
    width: 170px;
    justify-content: space-between;
    margin: 183px auto 0 auto;
}
#contacts img {
    opacity: 0.8;
    width: 20px;
    height: 20px;
}
#contacts img:hover {
    opacity: 1.0;
    cursor: pointer;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
section {
    width: 100%;
}
#rappresentSection {
    height: 842px;
}
#communitySection {
    height: 504px;
    background-color: #F5F6F7;
    overflow: hidden;
    white-space: nowrap;
}
#implementSection {
    height: 842px;
    white-space: nowrap;
}
#signUpSection {
    height: 524px;
    background-image: url("assets/pexels-christina-morillo.png");

}
#downloadSection {
    height: 464px;
    background-color: #F5F6F7;
}
footer {
    width: 100%;
    background-color: #000;
    height: 184px;
    white-space: nowrap;
}
p {
    font-size: 14px;
    line-height: 20px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 28px;
}
h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2.4px;
}
#rappresentDiv {
    display: flex;
    justify-content: space-between;
    width: 1062px;
    align-items: center;
    margin: 120px 0px 0px 269px;
}
#rappresentDiv div {
    width: 407px;
    height: 233px;
}
strong {
    font-weight: bold;
}
#communityDiv {
    text-align: center;
    width: 298px;
    height: 175px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    margin-top: 155px;
    margin-left: 269px;
}
#arrowDiv {
    display: flex;
    justify-content: space-between;
    width: 83px;
    height: 18px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 540px;
}
#arrowDiv div {
    display: flex;
    justify-content: space-between;
    width: 37px;
    height: 18px;
    align-items: center;
}
#arrowDiv div p {
    font-size: 19px;
}
.arrow {
    width: 9px;
    height: 14px;
}
.arrow:hover {
    opacity: 0.5;
    cursor: pointer;
}
#communityPics {
    display: flex;
    justify-content: space-between;
    width: 1281px;
    height: 244px;
}
#arrowPicsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-top: 82px;
    margin-left: 135px;
}
#learnMoreButton {
    width: 180px;
    border: none;
}
#implementDiv {
    width: 407px;
    height: 184px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    margin-top: 319px;
    margin-left: 135px;
}
#implementSection img {
    margin-top: 120px;
    margin-left: 269px;
}
#checkButton {
    width: 66px;
}
#checkText {
    width: 316px;
    height: 46px;
    border: none;
    padding: 0px 0px 0px 24px;
    color: #373737;
    font-size: 14px;
    line-height: 140%;
}
#signUpSection h2 {
    color: #FFF;
}
#signUpDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 104px;
    justify-content: space-between;
    margin-top: 200px;
}
#signUpCheckDiv {
    display: inline-flex;
}
.appleAndroidDiv {
    background-color: #009CC2;
    width: 59px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#androidButton, #appleButton {
    width: 127px;
}
#downloadDiv {
    display: flex;
    justify-content: space-between;
    width: 402px;
    margin: 0 auto;
}
#downloadDiv div {
    display: inline-flex;
}
#upperDownloadDiv {
    width: 480px;
    text-align: center;
    margin: 120px 0px 0px 560px;
}
#upperDownloadDiv p {
    margin: 20px 0px 30px 0px;
}
#footerNav {
    position: relative;
    width: 235px;
    display: inline-block;
    position: absolute;
    margin: 75px 0 0 160px;
}
#footerNav ul li {
    height: 20px;
    text-align: center;
    display: inline;
}
#footerNav ul li:nth-child(2)::after, #footerNav ul li:nth-child(2)::before {
    content: "|";
    color: #4E4E4E;
    font-size: 10px;
    font-weight: bold;
    margin: 0px 19px;
}
#footerLogo {
    display: inline-block;
    position: absolute;
    margin: 60px 0 0 778px;
}
footer p {
    display: inline-block;
    position: absolute;
    margin: 73px 0 0 1270px;
}
