
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

.promo_content {
    width: 1600px;
    background-image: url("assets/bg-image-wrapper.png");
    background-position: center;
    height: 744px;
    margin: auto;
}

header {
    width: 100%;
    height: 80px;
}

.header_navigation {
    position: relative;
    width: 100%;
    height: 95px;
    padding: 0 auto;
    padding-top: 3px;
}

.header_navigation ul {
    position: absolute;
    height: 100%;
    margin: 0px 343px;
    width: 583px;
}

.header_navigation ul li {
    padding: 37px 0px;
    height: 20px;
}

.active_button {
    border-bottom: 1px solid;
    opacity: 1.0;
}
.header_navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navigation ul li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-content: center;
    opacity: 0.8;
    font-size: 14px;
    margin-top: 2px;
}

.header_navigation ul li:nth-child(2) {
    margin-right: 15px;
}

.header_navigation ul li:nth-child(3) {
    height: auto;
}

.header_navigation ul li:nth-child(4) {
    margin-left: 15px;
}
.header_navigation ul li a {
    color: white;
    text-decoration: none;
}
.header_navigation ul li:hover {
    opacity: 1.0;
}

.navigation_logo {
    padding: 24px 0px;
}

.navigation_logo img {
    margin-bottom: 4px;
    padding-right: 2px;
    width: 44px;
    height: 44px;
    opacity: 100%;
}


.intro {
    width: 1600px;
    margin: auto;
}

.promo {
    width: 100%;
    text-align: center;
    margin-top: 153px;
    height: auto;
}

.promo_slogan {
    padding-top: 4px;
    padding-left: 9px;
    font-weight: bold;
    font-size: 3.95em;
    color: white;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.promo_text {
    margin-top: 30px;
    font-size: 1.13em;
    color: white;
    line-height: 1.25em;
}



.blue_button {
    margin-right: 3px;
    color: white;
    background-color: #00AFDB;;
    border: none;
    height: 46px;
    font-size: 0.82em;
    width: 184px;
    border: none;

}

.blue_button_intro {
    margin-top: 32px;
}

.blue_button:hover {
    background: #009CC2;
    cursor: pointer;
}


.contacts {
    display: flex;
    width: 170px;
    justify-content: space-between;
    margin: 183px auto 0 auto;
}
.contacts img {
    opacity: 0.8;
    width: 20px;
    height: 20px;
}
#contacts img:hover {
    opacity: 1.0;
    cursor: pointer;
}


.represent {
    width: 1600px;
    height: 722px;
    margin: auto;
} 

.represent_div {
    display: flex;
    justify-content: space-between;
    width: 1062px;
    align-items: center;
    margin: 120px 0px 0px 108px;
}
.represent_text {
    width: 407px;
    height: 234px;

}

.represent_text h2 {
    margin-top: 2px;
}

.community_section {
    width: 1600px;
    height: 504px;
    background-color: #F5F6F7;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}

.community_div {
    text-align: center;
    width: 298px;
    height: 175px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    margin-top: 155px;
    margin-left: 110px;
}

.community_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-top: 82px;
    margin-left: 135px;
}

.arrow_menu {
    display: flex;
    justify-content: space-between;
    width: 83px;
    height: 18px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 540px;
    padding-left: 5px;
}

.arrow_menu div {
    display: flex;
    justify-content: space-between;
    width: 37px;
    height: 18px;
    align-items: center;
}

.arrow_menu div p {
    font-size: 19px;
}

.arrow {
    width: 9px;
    height: 14px;
}
.arrow:hover {
    opacity: 0.5;
    cursor: pointer;
}
.community_photos {
    display: flex;
    justify-content: space-between;
    width: 1281px;
    height: 244px;
}

.implement_section {
    width: 1600px;
    height: 842px;
    white-space: nowrap;
    margin: auto;
}

.implement_section img {
    margin-top: 121px;
    margin-left: 110px;
}

.implement_div {
    width: 407px;
    height: 184px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    margin-top: 319px;
    margin-left: 135px;
}

.learn_more_button {
    width: 180px;
    border: none;
}

.sign_up_section {
    width: 1600px;
    height: 598px;
    background-image: url("assets/pexels-christina-morillo.png");
    margin: auto;
}

.sign_up_div {
    padding-top: 218px;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 104px;
    justify-content: space-between;

}

.sign_up_section h2 {
    color: white;
}


.signup_form {
    display: inline-flex;
    width: 406px;
    height: 46px;
    margin-right: 2px;
}
.email_box {
    width: 340px;
    border: none;
    padding-left: 22.3px;
    padding-right: 0;
    color: #373737;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}


.email_button {
    width: 69px;
    box-shadow: none;
    border: none;
    background-color: #00AFDB;
}

.email_button:hover {
    cursor: pointer;
}



.download_section {
    width: 1600px;
    height: 468px;
    margin: auto;
}

.download_text {
    width: 480px;
    text-align: center;
    padding-top: 121px;
    padding-left: 402px;
}

.download_text p {
    margin: 20px 0px 30px 0px;
}

.phone_button {
    background-color: #009CC2;
    width: 59px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
}

.store_button {
    width: 129px;
    margin: 0;
    height: 49px;
    padding-top: 4px;
    padding-right: 5px;
    border: none;
}


.download_buttons {
    display: flex;
    justify-content: space-between;
    width: 402px;
    margin: 0 35px 0 36px;
}

.download_button {
    display: inline-flex;
    border: none;
    margin-right: -2px;
}

.download_button  {
    display: inline-flex;
    border: none;
}

.download_button:hover  {
    background: #009CC2;
    cursor: pointer;
}


footer {
    width: 1600px;
    background-color: #000;
    height: 184px;
    white-space: nowrap;
    margin: auto;
}


.footer_navigator {
    clear: both;
    position: relative;
    width: 235px;
    display: inline-block;
    position: absolute;
    margin-top: 77px;
    font-size: 14px;
    font-weight: 400;
}

.footer_navigator ul li {
    height: 20px;
    text-align: center;
    display: inline;
}

.footer_navigator a {
    color: white;
    text-decoration: none;
    
}

.footer_navigator ul li:nth-child(2)::after, .footer_navigator ul li:nth-child(2)::before {
    content: "|";
    color: #4E4E4E;
    margin: 0px 17px;
}

.footer_logo {
    display: inline-block;
    position: absolute;
    margin-top: 60px;
    margin-left: 617px;;

}

footer p {
    display: inline-block;
    position: absolute;
    margin: 74px 0 0 1111px;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #373737;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2.4px;
}

strong {
    font-weight: 500;
}